body{width:100%; }
li{list-style: none;}


.wrap{width: 900px; 
    margin:50px auto; 
    height:50vh; 
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contents{border: 1px salmon solid; overflow: hidden;  }

.hisoty-date{}

.hisoty-date ul,.history-discription ul{ width: 800px; height:150px; margin: 0 auto; display: flex; align-items: center; justify-content: flex-start;} 
.hisoty-date ul li, .history-discription ul li {display: inline-block; width:150px;  }

.history-ui{width:100%;}
.line-history { width: 100%; height: 2px; background-color: white;  text-align: left; 
                transform: translateX(20px);  }

.line-history::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width:100%;
    height:2px;
    animation: mymove 2.3s;
}               

.dot{ width: 20px; height: 20px; border-radius: 50%; background-color: lightblue; display: inline-block;
       margin-right: 110px; margin-left: 50px; transform: translateY(-10px);
      
}
.dot01{
    animation:opacity 1s;
}

.dot02{
    animation:opacity 1.5s;
}

.dot03{
    animation:opacity 2s;
}
.dot04{
    animation:opacity 2.5s;
}



.history-discription{}


.history-discription ul li{ font-size: 13px;}


@keyframes mymove {
    0% {width: 0%; opacity: 0;}
    
    100% {width: 100%; opacity: 1;}
    
  }

  @keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    

  } 